@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');

.maininfo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.nav {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}